{% extends "base.html" %}
{% load static %}

{% block title %} Consulta Interações - DiPirado {% endblock %}


{% block content %}
    <div class="mt-3">
        <a href="{% url 'index' %}"></a>
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'consulta_interacoes' %}" style="margin-left: 5px ;">> Consulta Interações</a>
    </div>

        <h1>Consultar de Interações Medicamentosas</h1>
        <div class="responsividade">
            <div class="acessibilidade form-group">
                <form method="post" action="{{ 'consulta_interacoes' }}">
                    {% csrf_token %}
                    <div id="autocomplete1">
                        <div id="autocomplete" >
                            <label for=componente_1>Componente 1</label>
                            <input class="form-control acessibilidade" type="text" placeholder="bromoprida" id="componente_1" name="componente_1" autocomplete="off" required>
                            <ul class="autocomplete-result-list"></ul>
                        </div>
                        <div id="autocomplete2">
                            <label for=componente_2>Componente 2</label>
                            <input class="form-control acessibilidade" type="text" placeholder="paracetamol" id="componente_2" name="componente_2" autocomplete="off" required>
                            <ul class="autocomplete-result-list"></ul>
                        </div>

                        <div class="card bg-light mb-3 mt-3">
                            <div class="card-body">
                                <i class="fa-sharp fa-solid fa-circle-info"></i>
                              <p class="card-text text-justify">Selecione os componentes 1 e 2 e depois clique em “Consultar Interações” para obter o resultado da interação.</p>
                            </div>
                        </div>
                        <button class="btn btn-primary" id="btn_consulta_interacao" type="submit">Consultar Interações</button>
                    </div>
                </form>
            </div>
        </div>

    {% if user.id  is  none %}
    <!-- Modal pop-up que abrirá com a mensagem de alerta de responsabilidade-->
    <div id="dv-modal" class="modal container">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h2 class="text-white">Alerta de Responsabilidade</h2>
            </div>
             <div class="container modal-body text-justify">
                <p>Ao usar esta aplicação o usuário aceita que trata-se de um programa experimental, sem a intenção de orientar
                acerca da utilização de medicamentos.
                <br>Todas as informações aqui obtidas devem ser interpretadas por um profissional da saúde.
                </p>
                <p> Para continuar efetue o <a href="{% url 'login_view' %}">login</a>.</p>
            </div>
              <div class="modal-footer">
                <a class="btn btn-primary" onclick="closeModal('dv-modal')" href="{% url 'login_view' %}"> Login</a>
                <a class="btn btn-danger" href="/"> Sair</a>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}