{% extends "base.html" %}
{% load static %}

{% block title %} Home - DiPirado{% endblock %}


{% block content %}
    <div class="mt-3">
        <a href="{% url 'index' %}">Home</a>
    </div>

    <h1 class="titulos">Consulta Interações e Dados</h1>

    <div class="card bg-light mb-3 mt-3">
        <div class="card-body">
          <p class="card-text text-justify">Esta aplicação tem como objetivo realizar buscas aos
            medicamentos autorizados pela ANVISA e relacioná-los, através de seus princípios ativos, a
            duas bases de dados, DrugBank e KEGG Drug que são referências para informações sobre interações medicamentosas.</p>
            <div class="text-center">
                <a class="btn btn-primary" href="{% url 'consulta_interacoes' %}">
                    Consultar Interações
                    <span>
                        <br><i class="fa-sharp fa-solid fa-prescription-bottle-medical"></i> + <i class="fa-sharp fa-solid fa-pills"></i> = <i class="fa-sharp fa-solid fa-check"></i></span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}