{% extends "base.html" %}
{% load static %}

{% block title %} Grupo - Projeto Integrador - DiPirado {% endblock %}


{% block content %}
	<div class="mt-3">
		<a href="{% url 'index' %}"></a>
		<a href="{% url 'index' %}">Home</a>
		<a href="{% url 'integrantes_grupo' %}" style="margin-left: 5px ;">> Grupo - Projeto Integrador</a>
	</div>

	<div class="container mt-5" >
		<!-- <div class="card mt-5 mb-5 " style="width: 23rem;"> -->
			<img class="card-img-top"  src="{% static 'img/grupo_pessoas.jpg' %}" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Projeto Integrador em Computação III <br></h5>
				<ul class="mb-5">
					<li>ALESSANDRA MALDONADO HONORATO</li>
					<li>ARON MARIANO DE OLIVEIRA</li>
					<li>FLAVIO BONILHA MOREIRA CANTOS</li>
					<li>JOÃO VICTOR FELISBERTO</li>
					<li>LUCIANO LOPES DA SILVA</li>
					<li>MELINA BORATTO URTADO</li>
					<li>RAFAEL DELALIBERA RODRIGUES</li>
					<li>RODRIGO SOARES ALEIXO</li>
				</ul>
			</div>
		</div>
	</div>


{% endblock %}