{% extends "base.html" %}

{% load static %}

{% block title %} ParaceTAMal - Login {% endblock %}


{% block content %}


<main class="login_main acessibilidade">
    <form method="post" action="{{ 'login_view' }}" class="mt-5">
        {% csrf_token %}
        <div class="form-group ">
          <label for="usuario">Usuário</label>
          <input type="text" class="form-control acessibilidade" id="usuario" aria-describedby="emailHelp" placeholder="Digite seu usuário" name="usuario">
        </div>
        <div class="form-group">
          <label for="senha">Senha</label> 
          <input type="password" class="form-control acessibilidade" id="senha" placeholder="Senha"name="senha" >
        </div>
        <button type="submit" class="btn btn-primary acessibilidade">Entrar</button>
      </form>
</main>

{% endblock %}