:root{

    --azul_claro_background: #F0F9FF;
    --azul_medio: #E2EFFD;
    --blue: #007bff;
    --preto: #000000;
}


.pagina{
    background-color: var(--azul_claro_background);
}




/* MENU NAVEGAÇÃO */
nav{
    background-color: var(--azul_medio);
}

.dropdown-menu a{
    display: flex;
    justify-content: space-between;
    
}


/* FOOTER */
.rodape{
    background-color: var(--azul_medio);
    position: relative;
    bottom: 0;
    min-width: 100vw;
}



/* PAGINA INDEX */
.card-body{
    background-color: var(--azul_medio);
}
.btn_consultar_interacoes{
    font-family: Material-Icons;
}




/* AUTOCOMPLETE RESULTADOS */

.autocomplete-result-list{
    background-color: var(--azul_medio);
    list-style: none;
    position: relative;
    border: 3px solid var(--azul_medio);
    margin: 3px 0px 0px 0px;
    padding: 0 0 0 6px;
    color: var(--preto);
    cursor: pointer;
}

.autocomplete-result{
    padding: 6px 0 6px 0;
    border-bottom: 1px solid var(--blue);
}

.autocomplete-result:hover{
    opacity: 100%;
}




/* MODAL INTERACAO DE MEDICAMENTOS */
.titulo_modal{
    background-color: var(--azul_medio);
}

#alerta_interacao{
    z-index: 10000;
    top: 30vh;
}